<h1>Web-based Software Engineering. This course is an introduction to web-based software engineering environments,
    design patterns, frameworks and key architectural aspects of robust enterprise
    applications. Topics for software development technologies include development
    languages and frameworks (e.g., .NET, NodeJS, Java, open-source), various tools
    used during the development lifecycle, and key components of an application in
    terms of the data, process and presentation layers.
</h1>