<div class="row well">
        <div class="col-md-6">

            <form class="form" name="userForm">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" name="fname" class="form-control" ng-model="user.fname">
                </div>
                <div class="form-group">
                    <label>Middle Name</label>
                    <input type="text" class="form-control" ng-model="user.mname">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" ng-model="user.lname">
                </div>

                <div class="form-group">
                    <label>Gender</label>

                    <div class="radio">
                        <label>
                            <label class="radio-inline"><input type="radio" name="optradio">Male</label>
                        </label>
                        <label>
                            <label class="radio-inline"><input type="radio" name="optradio">Female</label>
                            
                        </label>
                        <label>
                            <label class="radio-inline"><input type="radio" name="optradio">Unknown</label>
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" class="form-control" placeholder="(xxx)-xxx-xxxx" ng-model="user.phone">
                </div>

                <div class="form-group">
                    <label>SSN</label>
                    <input type="text" class="form-control" placeholder="xxx-xxx-xxxx" ng-model="user.ssn">
                </div>


        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label>Address Line1</label>
                <input type="text" class="form-control" ng-model="user.address1">
            </div>
            <div class="form-group">
                <label>Address Line2</label>
                <input type="text" class="form-control" ng-model="user.address2">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" ng-model="user.city">
            </div>
            <div class="form-group">
                <label>State</label>
                <select class="form-control" ng-model="user.state">
                    <option>PA</option>
                    <option>MA</option>
                </select>
            </div>
            <div class="form-group">
                <label>Zip code</label>
                <input type="text" class="form-control" ng-model="user.zip">
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-md btn-primary" ng-click="addUser(user)">Submit</button>
                <button type="button" class="btn btn-md btn-danger">Cancel</button>
            </div>
        </div>
        </form>

    </div>


    <div class="row well">
        <h1>Registered Users</h1>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Middle Name</td>
                <td>SSN</td>
                <td>Action</td>
            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="x in userList">
                <td>{{x.fname}}</td>
                <td>{{x.lname}}</td>
                <td>{{x.mname}}</td>
                <td>{{x.ssn}}</td>
                <td><button ng-click="removeUser(x)">Remove</button></td>
            </tr>


            </tbody>


        </table>
    </div> 